/* #descricao-video-game, #descricao-pc{
    background-color:orange ;
} */

.descricao-produto{
    background-color:orange ;
    color: aliceblue;
}

.produto-promocao{
    border: solid 5px green;
}
